*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

background:#111827;

color:white;

}

nav{

background:#111;

padding:20px 50px;

display:flex;

justify-content:space-between;

align-items:center;

position:sticky;

top:0;

}

.logo{

font-size:30px;

font-weight:bold;

color:#ff4757;

}

#search{

padding:12px;

width:320px;

border-radius:30px;

border:none;

font-size:16px;

}

.category{

display:flex;

justify-content:center;

margin:30px;

gap:15px;

}

.category button{

padding:10px 25px;

border:none;

border-radius:25px;

cursor:pointer;

background:#ff4757;

color:white;

transition:.3s;

}

.category button:hover{

background:white;

color:black;

}

.heading{

text-align:center;

margin:20px;

font-size:40px;

}

.movies{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

padding:40px;

}

.card{

background:#1f2937;

border-radius:20px;

overflow:hidden;

transition:.4s;

box-shadow:0 10px 20px rgba(0,0,0,.5);

}

.card:hover{

transform:translateY(-12px);

}

.card img{

width:100%;

height:380px;

object-fit:cover;

}

.card h2{

margin:15px;

}

.card p{

margin-left:15px;

margin-bottom:10px;

}

.book{

width:90%;

margin:15px;

padding:12px;

background:#ff4757;

border:none;

border-radius:10px;

color:white;

font-size:18px;

cursor:pointer;

}

.book:hover{

background:#ff6b81;

}