body{

background:#111827;

font-family:Arial;

text-align:center;

color:white;

}

.screen{

width:500px;

margin:30px auto;

padding:15px;

background:white;

color:black;

border-radius:10px;

font-weight:bold;

}

.seats{

display:grid;

grid-template-columns:repeat(5,60px);

gap:15px;

justify-content:center;

margin-top:40px;

}

.seat{

width:55px;

height:55px;

background:#555;

display:flex;

justify-content:center;

align-items:center;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.seat:hover{

transform:scale(1.1);

}

.selected{

background:green;

}

.booked{

background:red;

cursor:not-allowed;

}

button{

margin-top:40px;

padding:15px 35px;

background:#ff4757;

color:white;

border:none;

font-size:18px;

border-radius:10px;

cursor:pointer;

}