body{

background:#111827;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial;

}

.ticket{

width:500px;

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 20px 50px rgba(0,0,0,.5);

}

.header{

background:#ff4757;

padding:20px;

text-align:center;

color:white;

}

.content{

padding:30px;

font-size:18px;

line-height:45px;

}

.barcode{

text-align:center;

font-size:35px;

letter-spacing:3px;

margin-bottom:20px;

}

button{

width:90%;

margin:20px;

padding:15px;

font-size:18px;

background:#111827;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}